.site-heading .site-heading-lower {
    font-family: Herculanum;
}
.coloryellow {
    color: yellow;
}
.site-heading .site-heading-upper {
    font-family: Herculanum;
}
.bg-faded {
    font-family: Herculanum;
}
.section-heading-lower {
    font-family: Herculanum;
}